

# OpenLdap default configuration
# Complete list of configuration possible here:
# https://github.com/dinkel/docker-openldap#configuration-environment-variables

SLAPD_DOMAIN=nevermined.io
SLAPD_ADMIN=cn=admin,dc=nevermined,dc=io
SLAPD_PASSWORD=nevermined
SLAPD_ADDITIONAL_MODULES=memberof
SLAPD_LOCAL_PORT=1389
LDAP_DATA_FOLDER=ACL/ldap

export LDAP_PRELOAD_DATA=${LDAP_PRELOAD_DATA:-true}

# Colors
COLOR_R="\033[0;31m"    # red
COLOR_G="\033[0;32m"    # green
COLOR_Y="\033[0;33m"    # yellow
COLOR_B="\033[0;34m"    # blue
COLOR_M="\033[0;35m"    # magenta
COLOR_C="\033[0;36m"    # cyan

# Color Reset
COLOR_RESET="\033[00m"

# Format for log messages
FORMAT_LOG="$COLOR_C%-29s|$COLOR_RESET %s\n"

# Platform Type
OSX="Darwin"
LINUX="Linux"

CLUSTER_SERVICE_ACCOUNT=nevermined
CLUSTER_ADMIN_EMAIL=root@nevermined.io
